* { padding: 0; margin: 0; }
 canvas { 
		background: #eee; 
		display: block; 
		margin: 0 auto;		 
}


/* Smaller Devices */
@media only screen and (max-width: 528px) {


	canvas { 
		background: #eee; 
		display: block; 
		margin: 0 auto;
		width: 320px;
		height: 160px; 
			 
}





}

